header, nav{
    background-color: rgb(41, 38, 38);
    width: 100%;
    height: 10vw;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  
  .logo{
    display: flex;
    justify-content: space-between;
    float: right;
    height: 50%;
    width: 14%;
    margin-left: 5vw;
    margin-bottom: 0.5vw;
  }

  .logo-text{
    display: flex;
    align-items: center;
    float: right;
    white-space: nowrap;
  }

  .buttons-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
    width: 20vw;
  }

  .button-nav{
    border: white solid 2px;
    padding: 0.5vw;
    text-decoration: none;
    color: white;
  }
  